# ignore sensitive data
.source/

# ignore test folder
tests/

# ignore logs folder
logs/

# ignore python cache 
*.pyc
__pycache__/
*/__pycache__/

# Ignore system files
.DS_Store
Thumbs.db
desktop.ini